/* 
Header
* 
phân tích đầy đủ các yêu cầu sau trước khi gõ code:
	1. Vị trí
	2. Kích thước (
	3. Màu sắc
	4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)

   * Các bước khi phân tích một chức năng sẽ làm:
	1. Từ ngoài vào trong
	2. Từ trên xuống dưới
	3. Tổng quan đến chi tiết
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* box-sizing: border-box => bo viền xung quanh theo kích thước width height */
}

html {
    font-family: Helvetica, Arial, sans-serif;
    /* background-color: linear-gradient(black, blue); */
    background: linear-gradient(90deg, rgb(168, 85, 85) 0%, rgb(197, 196, 117) 100%);
}

.main {}

.header {
    height: 46px;
    /* background-color: rgb(125, 133, 143); */
    background: rgba(0, 0, 0, 0.5);
}

.nav {}

.nav li {
    display: inline-block;
    padding: 0 24px;
}

.nav li a {
    position: relative;
    display: block;
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    /* bỏ gạch chân */
    text-transform: uppercase;
    transition: 0.5s;
}

.nav .hover:hover:before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav .hover:hover {
    background-color: aliceblue;
    color: #262626;
    border: none;
    border-radius: 50px;
}

.nav .subnav {
    display: none;
}